.sidebar {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 60px;
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.sidebar img {
  width: 80%;
  cursor: pointer;
  
}